body{
    margin:0 10% 0 10%;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 4fr 1fr;
    grid-template-columns: 2px 1fr 2px;
    /* grid-template-areas: "header"
                         "cntnt"
                         "footer"; */
}

.head{
    /* grid-area: header; */
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;

}

.content{
    /* grid-area: cntnt; */
    grid-row-start: 2;
    grid-column-start: 2;
    
}

.footer{
    /* grid-area: footer; */
    grid-row-start: 3;
    grid-column-start: 2;
}